<!DOCTYPE html>
<html lang="en">
	
<!-- Mirrored from loopinfosol.in/themeforest/ekka-html-v33/ekka-admin/sign-in.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 08 Jan 2023 23:28:54 GMT -->

<%- include('./partials/Ahead.ejs') %>

	<body class="sign-inup" id="body">
		<div class="container d-flex align-items-center justify-content-center form-height-login pt-24px pb-24px">
			<div class="row justify-content-center">
				<div class="col-lg-6 col-md-10">
					<div class="card">
						<div class="card-header bg-primary">
							<div class="ec-brand">
								<a href="# title=">
									<img class="ec-brand-icon" src="/admin/img/logo/logo-login.png" alt="" />
								</a>
							</div>
						</div>
						<div class="card-body p-5">
							<h4 class="text-dark mb-5">Sign In</h4>
							
							<form  name="loginform">
								<div class="row">
									<div class="form-group col-md-12 mb-4">
										<input type="email" class="form-control" id="email" placeholder="Username" name="email" required>
										<p class="text-danger mb-1 fw-light opacity-75" id="emailidwarning"></p>
									</div>
									
									<div class="form-group col-md-12 ">
										<input type="password" class="form-control" id="password" placeholder="Password" name="password" required>
										<p class="text-danger mb-1 fw-light opacity-75" id="passwordidwarning"></p>
									</div>
									
									<div class="col-md-12">
										<div class="d-flex my-2 justify-content-between">
											<div class="d-inline-block mr-3">
												<!-- <div class="control control-checkbox">Remember me
													<input type="checkbox" />
													<div class="control-indicator"></div>
												</div> -->
											</div>
											
											<!-- <p><a class="text-blue" href="#">Forgot Password?</a></p> -->
										</div>
										<p class="text-danger" id="errmsg"></p>
										<button type="submit" class="btn btn-primary btn-block mb-4" onclick="validate()">Sign In</button>
										
										<!-- <p class="sign-upp">Don't have an account yet ?
											<a class="text-blue" href="sign-up.html">Sign Up</a>
										</p> -->
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.3/axios.min.js"></script>
		 <script>
            function validate() {
				console.log("huhuhuhuhuhuhuhuhuh");
                let email = document.getElementById("email");
                let password = document.getElementById("password");
                let emailwarning = document.getElementById("emailidwarning");
                let passwordwarning = document.getElementById("passwordidwarning");
				console.log("dgjhfdguhghh")
                document.getElementById("errmsg").innerHTML = "";
                event.preventDefault();
                let form = event.target.form;
                let validation = true;
                emailwarning.innerHTML = "";
                passwordwarning.innerHTML = "";
                if (email.value === "") {
                    emailwarning.innerHTML = "Please enter your email id";
                    validation = false;
                }
                if (password.value === "") {
                    passwordwarning.innerHTML = "Please enter your password";
                    validation = false;
                }
                if (validation) {
                    email = email.value;
                    password = password.value;
                    try {
						console.log("kkkkkkkkkkkkhgghhh")
                        axios
                            .post("/admin/index", {
                                email: email,
                                password: password,
                            })
                            .then((e) => {
                                if (!e.data.response) {
                                    form.submit();
                                    location.href = "/admin/adminHome";
                                } else {
                                    document.getElementById("errmsg").innerHTML = "Invalid credentials";
                                }
                            });
                    } catch (error) {
                        console.log(error);
                    }
                    return validation;
                }
            }
        </script>
	
		<!-- Javascript -->
		
		<script src="/admin/plugins/jquery/jquery-3.5.1.min.js"></script>
		<script src="/admin/js/bootstrap.bundle.min.js"></script>
		<script src="/admin/plugins/jquery-zoom/jquery.zoom.min.js"></script>
		<script src="/admin/plugins/slick/slick.min.js"></script>
	
		<!-- Ekka Custom -->	
		<script src="/admin/js/ekka.js"></script>
	</body>

<!-- Mirrored from loopinfosol.in/themeforest/ekka-html-v33/ekka-admin/sign-in.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 08 Jan 2023 23:28:55 GMT -->
</html>